<!----
<%- model_class = Task -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:picture) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:taken_by) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:done) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.id, task_path(task) %></td>
        <td><%= task.name %></td>
        <td><%= task.picture %></td>
        <td><%= task.user_id %></td>
        <td><%= task.taken_by %></td>
        <td><%= task.status %></td>
        <td><%= task.done %></td>
        <td><%=l task.created_at %></td>
        <td>
          <% if task.user == current_user %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_task_path(task), :class => 'btn btn-default btn-xs' %>
          
          <% else %>
            
            <% if task.status == false %>
              <%= link_to 'Take', edit_task_path(task), :class => 'btn btn-default btn-xs' %>
            <% else %>
              <% if task.done == false %>
                <% if task.taken_by == current_user.id %>
                  <%= link_to 'End task', edit_task_path(task), :class => 'btn btn-default btn-xs' %>
                <% else %>
                  <p><small>In Progress</small></p>
                <% end %>
              <% else %>
                <p><small>Finished</small></p>
              <% end %>
            <% end %>
          
          <% end %>
          <% if task.user == current_user %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        task_path(task),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user.usertype == "planeteer" %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_task_path,
            :class => 'btn btn-primary' %>
<% end %>
---->

<body>

    <!-- Preloader -->

    <div id="preloader">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <!-- home-page -->

    <div class="home-page">

        <!-- Introduction -->

        <div class="introduction">
            <!-- <div class="mask">
            </div> -->
            <div class="intro-content">
                <!-- <h1>HELLO<br>
                I'M <span>JOHN</span> DOE</h1> -->
                <h1>
                    Hi, We are the
                </h1>
                <span>Planeteers</span><span class="number"></span>
                <p class="slogan-text text-capitalize">A cleaner world</p>

                <div class="social-media hidden-xs">
                    <a href="#" class="fa fa-facebook" data-toggle="tooltip" title="Facebook"></a>
                    <a href="#" class="fa fa-twitter" data-toggle="tooltip" title="Twitter"></a>
                    <a href="#" class="fa fa-plus" data-toggle="tooltip" title="Google+"></a>
                    <a href="#" class="fa fa-linkedin" data-toggle="tooltip" title="Linkedin"></a>
                    <a href="#" class="fa fa-behance" data-toggle="tooltip" title="Behance"></a>
                    <a href="#" class="fa fa-flickr" data-toggle="tooltip" title="Flicker"></a>
                    <a href="#" class="fa fa-instagram" data-toggle="tooltip" title="Instagram"></a>
                </div>
            </div>

            <!-- Social Media Icons [ END ] -->
        </div>

        <!-- Navigation Menu -->

        <div class="menu">
            <div data-url_target="about_us" class="profile-btn menu_button">
                <img alt="" src="assets/img/about.jpg" style="width:100%; height:100%;">
                <div class="mask">
                </div>
                <div class="heading">
                    <i class="ion-ios-people-outline hidden-xs"></i>
                    <h2>About Us</h2>
                </div>
            </div>

            <!-- Single Navigation Menu Button -->

            <div data-url_target="portfolio" class="portfolio-btn menu_button">
                <img alt="" src="assets/img/portfolio.jpg">
                <div class="mask">
                </div>
                <div class="heading">
                    <i class="ion-ios-briefcase-outline hidden-xs"></i>
                    <h2>Contributors</h2>
                </div>
            </div>

            <!-- Single Navigation Menu Button [ END ]  -->

            <div data-url_target="service" class="service-btn menu_button">
                <img alt="" src="assets/img/service.jpg">
                <div class="mask">
                </div>
                <div class="heading">
                    <i class="ion-ios-lightbulb-outline hidden-xs"></i>
                    <h2>Planeteers</h2>
                </div>
            </div>

            <!-- Single Navigation Menu Button [ END ]  -->

            <div data-url_target="contact" class="contact-btn menu_button">
                <img alt="" src="assets/img/contact.jpg">
                <div class="mask">
                </div>
                <div class="heading">
                    <i class="ion-ios-chatboxes-outline hidden-xs"></i>
                    <h2>Contact</h2>
                </div>
            </div>

            <!-- Single Navigation Menu Button [ END ]  -->

        </div>
    </div>

    <!--
    4 ) Close Button
    -->

    <div class="close-btn"></div>

    <!--
    5 ) Profile Page
    -->

    <div id="about_us" class="profile-page container-fluid page">
        <div class="row">
            <!--( a ) Profile Page Fixed Image Portion -->

            <div class="image-container col-md-3 col-sm-12">
                <div class="mask">
                </div>
                <div class="main-heading">
                    <h1>About us</h1>
                </div>
            </div>

            <!--( b ) Profile Page Content -->

            <div class="content-container col-md-9 col-sm-12">

                <!--( A ) Story of Glory -->

                <div class="clearfix">
                    <h2 class="small-heading">LEARN ABOUT US</h2>
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1">
                            <div class="row">
                                <div class="col-md-0 col-sm-12">
                                </div>

                                <div class="col-md-0 col-sm-12">
                                    <div class="about-us-desc">
                                        <p>
                                            We are AMERICA’S PLANETEERS. Let’s say it up front: our name is no accident.  We want to honor the spirit of the original Planeteers, who have graced our screens for decades, by fostering a new generation of environmentalists.
Although our country has seen many improvements in the quality of life and awareness of the need to protect our environment, we still have a lot of work to do.

For an egregious example, littering remains a public health problem.  No matter what fines or penalties may exist, or how they are enforced, people will still litter.    We believe that the best way to curb this behavior is to respond to each case of littering as swiftly as possible, whether by reporting it or by cleaning it up.  The goal of AMERICA’S PLANETEERS is to provide a system whereby citizens from all walks of life can contribute to the effort to keep our communities clean.

Here, users can report problems in their communities - from an overflowing garbage can to a post-concert field teeming with bottles and other debris.  They can provide pictures, descriptions, locations - all the details they need to tell the story.  We will send a member or our PLANETEERS group - a service group akin the Peace Corps or any other national service group.
                                        </p>
                                        <p>
                                            The PLANETEERS come from different backgrounds.  They are students looking to meaningfully fill his time between terms.  They are college graduates who are looking to get a head start in life.  They are working- and middle-class professionals who have struggled through the financial crisis.  They are hard workers who were recently homeless or indigent — and yet they felt the need to contribute.   Whatever the story, they all share the belief that they are part of something much, much larger than themselves.  They recognize the need, as Pope Francis has said, to take care of our common home.  And they are more than willing to do their part and help others do theirs.
                                            Ut cursus massa at urnaac assin got pressed hadrtits lis estie. Sed aliquamellus tae ultrices condimentum, the Bootstrap 4 leo massa mollis estiegittis miristum nu endrerit a augue in su cipit.Pe lla eo massa mlli joss mama.
                                            Our effort is, finally, rooted in a desire to honor the dignity that every member of our group - brings to the effort.  Dignity that comes from simply walking the very earth that they clean up and maintain.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--( B ) What Can I Do -->

                <div class="clearfix">
                    <h2 class="small-heading">OUR FUN FACTS</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-xs-12">
                            <div class="row">
                                <div class="services col-md-4  col-xs-12">
                                    <div class="facts">
                                        <div class="facts-overlay">
                                            <i class="fa fa-code fa-3x"></i>
                                            <p class="count">1473</p>
                                            <p class="text-capitalize">litterspots exposed</p>
                                        </div>

                                    </div>
                                </div>

                                <!-- Single Service Item [ END ]  -->

                                <div class="services col-md-4  col-xs-12">
                                    <div class="facts">
                                        <div class="facts-overlay">
                                            <i class="fa fa-coffee fa-3x"></i>
                                            <p class="count">523</p>
                                            <p class="text-capitalize">streets cleaned</p>
                                        </div>

                                    </div>
                                </div>

                                <!-- Single Service Item [ END ]  -->

                                <div class="services col-md-4  col-xs-12">
                                    <div class="facts">
                                        <div class="facts-overlay">
                                            <i class="fa fa-cubes fa-3x"></i>
                                            <p class="count">21</p>
                                            <p class="text-capitalize">cities cleaned</p>
                                        </div>

                                    </div>
                                </div>

                                <!-- Single Service Item [ END ]  -->
                            </div>
                        </div>
                    </div>
                </div>


                <div class="clearfix full-height">
                    <h2 class="small-heading">Top contributors <br> and planeteers</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <div class="team-member-box center-block text-center">
                                        <img src="assets/img/team_member1.jpg" class="img-responsive">
                                        <h4 class="text-capitalize">loras tyrel</h4>
                                        <p class="text-uppercase">Contributor: 35 tasks</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="team-member-box center-block text-center">
                                        <img src="assets/img/team_member2.jpg" class="img-responsive">
                                        <h4 class="text-capitalize">john snow</h4>
                                        <p class="text-uppercase">Contributor: 21 tasks</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="team-member-box center-block text-center">
                                        <img src="assets/img/team_member3.jpg" class="img-responsive">
                                        <h4 class="text-capitalize">sansa stark</h4>
                                        <p class="text-uppercase">Planeteer: 52 tasks</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--( D ) Footer -->

                <div class="footer clearfix">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <p class="copyright">Copyright &copy; 2016
                                        <a href="#">Planeteer Inc</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="portfolio" class="portfolio-page container-fluid page">

        <div class="row">

            <!--( a ) Portfolio Page Fixed Image Portion -->

            <div class="image-container col-md-3 col-sm-12">
                <div class="mask">
                </div>
                <div class="main-heading">
                    <h1>Portfolio</h1>
                </div>
            </div>

            <!--( b ) Portfolio Page Content -->

            <div class="content-container col-md-9 col-sm-12">

                <!--( A ) Portfolio -->

                <div class="portfolio clearfix full-height">
                    <h2 class="small-heading">Tasks</h2>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                            <div class="project-container">
                                <div class="row">
                                    <div class="project-controls">
                                        <button class="filter" data-filter="all">All</button>
                                        <br>
                                        <button class="filter" data-filter=".graphic-design">To Do</button>
                                        <button class="filter" data-filter=".web-design">In progress</button>
                                        <button class="filter" data-filter=".app-development">Done</button>
                                        <br>
                                        <button class="filter" data-filter=".app-development">Add task</button>
                                    </div>

                                    <!-- Portfolio Control Buttons [ END ] -->

                                    <div id="projects" class="projet-items clearfix">

                                        <!-- Portfolio Image -->

                                        <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix graphic-design">
                                            <div class="project">
                                                <img src="assets/img/portfolio/thumbs/image_1.jpg" alt="">
                                                <div class="ovrly">
                                                </div>
                                                <div class="buttons">
                                                    <a href="#" class="fa fa-link"></a>
                                                    <a href="#portfolio-1" class="fa fa-search show-popup"></a>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Popup Content -->

                                        <div class="pop-up-box" id="portfolio-1">
                                            <img alt="" src="assets/img/portfolio/image_1.jpg" class=" hidden-xs">
                                            <div class="popup-content">
                                                <h3>Task Name</h3>
                                                <p>
                                                    City
                                                    <br>
                                                    Coordinates
                                                    <br>
                                                    Contributor
                                                </p>
                                                <a href="#">Perform</a>
                                            </div>
                                        </div>

                                        <!-- Single Portfolio Item [ END ] -->
                                    </div>

                                        <!-- Single Portfolio Item [ END ] -->

                                        <!-- Portfolio Image -->

                                        <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix graphic-design">
                                            <div class="project">
                                                <img src="assets/img/portfolio/thumbs/image_8.jpg" alt="">
                                                <div class="ovrly">
                                                </div>
                                                <div class="buttons">
                                                    <a href="#" class="fa fa-link"></a>
                                                    <a href="#portfolio-8" class="fa fa-search show-popup"></a>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Popup Content -->

                                        <div class="pop-up-box" id="portfolio-8">
                                            <img alt="" src="assets/img/portfolio/image_8.jpg" class=" hidden-xs">
                                            <div class="popup-content">
                                                <h3>PROJECT NAME</h3>
                                                <p>
                                                  This is a name.
                                                </p>
                                                <a href="#">PREVIEW</a>
                                            </div>
                                        </div>

                                        <!-- Single Portfolio Item [ END ] -->

                                        <!-- Portfolio Image -->

                                        <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix app-development">
                                            <div class="project">
                                                <img src="assets/img/portfolio/thumbs/image_9.jpg" alt="">
                                                <div class="ovrly">
                                                </div>
                                                <div class="buttons">
                                                    <a href="#" class="fa fa-link"></a>
                                                    <a href="#portfolio-9" class="fa fa-search show-popup"></a>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Popup Content -->

                                        <div class="pop-up-box" id="portfolio-9">
                                            <img alt="" src="assets/img/portfolio/image_9.jpg" class=" hidden-xs">
                                            <div class="popup-content">
                                                <h3>PROJECT NAME</h3>
                                                <p>
                                                 This is a name.
                                                </p>
                                                <a href="#">PREVIEW</a>
                                            </div>
                                        </div>

                                        <!-- Single Portfolio Item [ END ] -->

                                        <!-- Portfolio Image -->

                                        <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix web-design">
                                            <div class="project">
                                                <img src="assets/img/portfolio/thumbs/image_10.jpg" alt="">
                                                <div class="ovrly">
                                                </div>
                                                <div class="buttons">
                                                    <a href="#" class="fa fa-link"></a>
                                                    <a href="#portfolio-10" class="fa fa-search show-popup"></a>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Popup Content -->

                                        <div class="pop-up-box" id="portfolio-10">
                                            <img alt="" src="assets/img/portfolio/image_10.jpg" class=" hidden-xs">
                                            <div class="popup-content">
                                                <h3>PROJECT NAME</h3>
                                                <p>
                                                    This is a name.
                                                </p>
                                                <a href="#">PREVIEW</a>
                                            </div>
                                        </div>

                                        <!-- Single Portfolio Item [ END ] -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Footer -->

                <div class="footer clearfix">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <p class="copyright">Copyright &copy; 2016
                                        <a href="#">Planeteers Inc</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    7 ) Service Page
    -->

    <div id="service" class="service-page container-fluid page">
        <div class="row">
            <!--( a ) Portfolio Page Fixed Image Portion -->

            <div class="image-container col-md-3 col-sm-12">
                <div class="mask">
                </div>
                <div class="main-heading">
                    <h1>Serv</h1>
                </div>
            </div>

            <!--( b ) Portfolio Page Content -->

            <div class="content-container col-md-9 col-sm-12">

                <!--( A ) Portfolio -->

                <div class="clearfix">
                    <h2 class="small-heading">Tasks</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-sm-12">
                            <div class="row">


	                              <!-- Portfolio Image -->

	              <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 mix web-design">
	                  <div class="project">
	                      <img src="assets/img/portfolio/thumbs/image_10.jpg" alt="">
	                      <div class="ovrly">
	                      </div>
	                      <div class="buttons">
	                          <a href="#" class="fa fa-link"></a>
	                          <a href="#portfolio-10" class="fa fa-search show-popup"></a>
	                      </div>
	                  </div>
	              </div>

	              <!-- Popup Content -->

	              <div class="pop-up-box" id="portfolio-10">
	                  <img alt="" src="assets/img/portfolio/image_10.jpg" class=" hidden-xs">
	                  <div class="popup-content">
	                      <h3>PROJECT NAME</h3>
	                      <p>
	                          Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor, id auctor felis volutpat sed. Phasellus id ex ultrices, tempus leo eget, volutpat diam. In sit amet magna faucibus, molestie nisi in, hendrerit libero. Morbi auctor velit sagittis, elementum lorem eget, imperdiet nisl.
	                      </p>
	                      <a href="#">PREVIEW</a>
	                  </div>
	              </div>




                <div class="clearfix full-height clearfix">
<!--                     <h2 class="small-heading">OUR VALUABLE PLANETEERS</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                            <div id="sponsor-list" class="owl-carousel owl-theme"> -->

<!--                                 <div class="item">
                                    <img src="assets/img/sponsor1.png" alt="sponsor1" class="center-block" style="width: 165px; height: 127px;">
                                </div>

                                <div class="item">
                                    <img src="assets/img/sponsor2.png" alt="sponsor2" class="center-block" style="width: 165px; height: 127px;">
                                </div>

                                <div class="item">
                                    <img src="assets/img/sponsor3.png" alt="sponsor3" class="center-block" style="width: 165px; height: 127px;">
                                </div>

                                <div class="item">
                                    <img src="assets/img/sponsor4.png" alt="sponsor4" class="center-block" style="width: 165px; height: 127px;" >
                                </div>

                                <div class="item">
                                    <img src="assets/img/sponsor5.png" alt="sponsor5" class="center-block" style="width: 165px; height: 127px;">
                                </div>

                                <div class="item">
                                    <img src="assets/img/sponsor6.png" alt="sponsor6" class="center-block" style="width: 165px; height: 127px;">
                                </div> -->

                            </div> <!--  / #sponsor-list /.owl-carousel -->
<!--                         </div>
                    </div>
                </div> -->
                <!-- end: valuable clients -->




                <!-- Footer -->

                <div class="footer clearfix">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <p class="copyright">Copyright &copy; 2016
                                        <a href="#">Planeteers Inc</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 </div>
 </div>
 </div>


    <!--
    8 ) Contact Page
    -->

    <div id="contact" class="contact-page container-fluid page">
        <div class="row">
            <!--( a ) Contact Page Fixed Image Portion -->

            <div class="image-container col-md-3 col-sm-12">
                <div class="mask">
                </div>
                <div class="main-heading">
                    <h1>contact</h1>
                </div>
            </div>

            <!--( b ) Contact Page Content -->

            <div class="content-container col-md-9 col-sm-12">

                <!--( A ) Contact Form -->

                <div class="clearfix full-height">
                    <h2 class="small-heading">COME IN TOUCH</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                            <div class="contact-info">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="data">
                                            <i class="fa fa-map-marker"></i>
                                            <span>
                                                House -3, Road-2, Block - F, <br>
                                                 Akhalia Ghat R/A, Sylhet. <br>
                                            </span>
                                        </div>

                                        <div class="data">
                                            <i class="fa fa-envelope"></i>
                                            <span>
                                                hello@boots4.com
                                            </span>
                                        </div>

                                        <div class="data">
                                            <i class="fa fa-phone"></i>
                                            <span>
                                                +880 12345 - 67890
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="map-canvas"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <form  id="contactForm" class="contact-form" method="post" action="php/contact.php">

                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input  name="name" type="text" class="form-control" id="name" required="required" placeholder="  Name">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input name="email" type="email" class="form-control" id="email" required="required" placeholder="  Email">
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <textarea name="massage" type="text" class="form-control" id="message" rows="5" required="required" placeholder="  Message"></textarea>
                                    </div>

                                    <div class="col-md-4 col-xs-12">
                                        <input type="submit" id="cfsubmit" class="btn btn-send" value="Say Hello">
                                    </div>
                                    <div id="contactFormResponse" class="col-md-8 col-xs-12"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ( D ) Footer -->

                <div class="footer clearfix">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <p class="copyright">Copyright &copy; 2016
                                        <a href="#">Planeteers Inc</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>